.carousel {
	overflow-y: hidden;
	display: grid;
	grid-template-columns: repeat(5,1fr);
}

@media (max-width: 1700px){

	.carousel{
		grid-template-columns: repeat(4,1fr);
	}
}

@media (max-width: 1380px){

	.carousel{
		grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 1050px){

	.carousel{
		grid-template-columns: repeat(2,1fr);
	}
}

@media (max-width: 700px){

	.carousel{
		grid-template-columns: repeat(1,1fr);
		justify-items: center;
		align-items: center;
	}
}


@media (max-width: 450px){

	.carousel{
		grid-template-columns: repeat(1,1fr);
	}
}