.carousel {
    overflow: scroll;
    overflow-y: hidden;
	white-space: nowrap;
	padding-bottom: 25px;
}

.carousel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.carousel::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.carousel::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(left, #fc1c1c, #fd6522)
}