@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic', url('./fonts/Century Gothic.ttf') format('truetype'));
}

@font-face {
  font-family: 'Gothic Bold';
  src: local('Gothic Bold', url('./fonts/Gothic Bold.TTF') format('truetype'));
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Century Gothic', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
